html {
  display: flex;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  font-family: sans-serif, Courier, monospace;
  color :white;
  font-size: 16px;
}

h3 {
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
}
/* Navigation */
header {
  display:flex;
  width: 100%;
}

header .desktop{
  position: fixed;
  top: 0;
  z-index: 5;
  height: 80px;
  width: 100%;
  background-color: #323232;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .mobile a{
  display: hidden;
  visibility: hidden;
}

header h3{
  display: flex;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  align-items: center;
  background-color: #BB86FC;
  border-radius: 20px;
}

header a{
  color: white;
  align-items: center;
}

header img{
  height: 70px;
  margin-top: 5px;
}

h3 {
  color: #323232;
}


a:hover {
  text-decoration: line-through;
}


/* Intro */
.intro h1, .intro a{
  color: white;
  margin-top: 80px;
  font-size: 8.5rem; /* this too */
  width: 60%; /* remember to change for @media */
}

.intro a{
  color: #BB86FC;
}

/* Video */
iframe {
  background-color: #323232;
  padding: 10px 10px 10px 10px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 30px;
  border-radius: 20px;
  border: 2px solid red;
}

/* Image Gallery */
.responsive {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.gallery {
  padding: 10px;
  margin: 5px;
  background: #323232;
  border-radius: 20px;
  border: 2px solid red;
  width: 49.9999%;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: 2px solid chartreuse;
}

div.desc {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  height: 40px;
  background-color: #505050;
  border: 2px solid blueviolet;
}

.responsive {
  padding: 10px 10px;
  float: left;

  border: 2px solid blue;
}



/* Clearfix??? */
.clearfix:after {
  padding: 10px 10px;
  content: "";
  display: table;
  clear: both;
}



/* Anchors/buttons */

/* Ue5 Section */

/* Dotted border */

/* Footer */
footer {
  padding-left: 2%;
  margin: 10px 0px;
}


@media only screen and (max-width: 700px) {
  header .mobile{
    visibility: visible;
    position: fixed;
    top: 0;
    z-index: 5;
    height: 80px;
    width: 100%;
    background-color: #323232;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  header .desktop{
    display: hidden;
    visibility: hidden;
  }

  .intro h1, .intro a{
    margin-top: 80px;
    font-size: 6.5rem; /* this too */
    width: 70%; /* remember to change for @media */
  }

  .responsive {
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .responsive {
    width: 100%;
  }
}