html,
body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/*Header Section*/
.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    list-style: none;
    margin: 0 0;
    background: black;
    list-style-type: none;
    border-bottom: 1px solid seashell;
}

.logo img {
    height: 50px;
    margin: 10px;
    justify-content: flex-start;
}

a {
    font-family: Helvetica;
    text-decoration: underline;
    display: inline-block;
    color: seashell;
    align-items: center;
  }

/*Jumbotron Section*/

.jumbotron {
    max-width: 100%;
    margin: 60px auto;
    height: 700px;
    width: 1200px;
    border: 2px solid chartreuse;
}

.jumbotron .container {
    background-color: #000;
    border: 2px solid red;
}

/*Banner Section*/
.banner {
    color: seashell;
    width: 1000px;
}

/*Expertise Section*/
.gallery .container {
    border: 2px solid red;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid red;
}

.cards img {
    height: 200px;
    width: 300px;
    border: 2px solid red;
}

#expertise {
    padding: 20px;
    background-color: #ffc200;
    margin: 0;
    text-align: center;
    border: 2px solid red;
}

/*Footer Section*/
.footer {
    padding: 60px 0px;
    background-color: #000;
    color: #fff;
}

.footer h3 {
    font-size: 20px;
    margin-left: 20px;
}

.footer p {
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 20px;
}