html,
body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/*Header Section*/
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 69px;
    width: 100%;
    margin: 0 0;
    display: inline-flex;
    flex-flow: row;
    background: black;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
    margin: 0px 10px;
}

ul {
    display: inline-flex;
    list-style-type: none;
    justify-content: space-between;
}

a {
    margin: 10px;
    font-family: Helvetica;
    text-decoration: underline;
    color: seashell;
}

/*Jumbotron Section*/

.jumbotron {
    margin-top: 70px 0px 50px 0px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.jumbotron .container {
    background-image: url("resources/images/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.jumbotron .banner {
    display: inline-flex;
    flex-flow: column;
    min-width:100%;
    background-color: #000;
}

/*Tea of the month*/
.banner {
    color: seashell;
    width: 1200px;
    margin: 50px;
}

.cards {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards img {
    height: 200px;
    width: 300px;
}

/*Locations Section*/

.locations {
    margin-top: 70px 0px 50px 0px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.locations-main {
    background-image: url("resources/images/img-locations-background.jpg");
    background-position: center;
    margin-top: 70px 0px 50px 0px;
    height: 500px;
    width: 1200px;
}

.locations-cards{
    display: inline-flex;
    justify-content: center;
}

.locations-cards div{
    flex-basis: auto;
    margin: 20px 20px;
    width: 300px;
    background-color: #000;
    opacity: 1;
}

/*Footer Section*/
.footer {
    text-align: left;
    margin-left: 20px;
    color: seashell;
}