body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;
    margin: 0;
    background: linear-gradient(217deg, #205072, #329D9C 70.71%);
    color: white;
}

header {
    width: 100%;
    background-color: linear-gradient(127deg, #56C596, #7BE495 70.71%),
}

nav {
    width: 100%;
    display: inline-block;
    color: white;
}

nav p {
    color: #7BE495;
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    margin-right: 1.5rem;
    display: inline-block;
}

nav img {
    width: 100px;
    height: 100px;
}

h1,
h2,
p {
    text-align: center;
}

.jumbotron {
    height: 70rem;
    padding-top: 1rem;
    background-image: url("resources/images/ben-collins-NmI-fqJKmQI-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron h1 {
    color: #205072;
    font-size: 4rem;
    margin-top: 10rem;
    padding: 2rem;
    background-color: rgba(123, 228, 149, .75);
    text-align: center;
}

.summary,
.testimonial,
.photos,
.meetup {
    margin: 4em auto;
}

.summary h2 {
    color: #7BE495;
    font-size: 4rem;
}

.summary p {
    font-size: 2rem;
    color: White;
}

.testimonial {
    background-color: #7BE495;
    height: 20rem;
    padding: 0 1rem;
    padding-top: 1rem;
    color: #205072;
}

.testimonial h1 {
    font-size: 2.5rem;
    color: #205072;
}

.photos img {
    width: 30%;
    margin: 1.5%;
}

.meetup {
    height: 70rem;
    padding-top: 1rem;
    background-image: url("resources/images/sam-mgrdichian-4Aev9YjxTrU-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.meetup h1 {
    color: #205072;
    font-size: 4rem;
    margin-top: 10rem;
    padding: 2rem;
    background-color: rgba(123, 228, 149, .75);
    text-align: center;
}

footer {
    text-align: center;
    margin: .25rem;
    font-size: 1.25rem;
}

@media only screen and (max-width: 1048px) {

    .photos img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 640px) {

    .intro h1 {
        margin-top: 2rem;
    }

    .intro {
        max-height: 200px;
    }

    .photos img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    li {
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width: 320px) {

    .testimonial h1 {
        font-size: 2rem;
    }

    .photos img {
        width: 100%;
    }
}