body {
  margin: 0;
  color: white;
  font-family: 'Roboto Mono', monospace;
  /* background: linear-gradient(to top right, rgb(243,243,236) 0%, rgb(255,169,151) 30%, rgb(251,169,214) 60%, rgb(35, 71, 248) 100%); */
  background-color: #212328;
  font-size: 22px;
  text-align: center;
}

a {
  color: white;
}

h2,
h3,
h4,
p {
  margin: 0;
  padding: 10px;
  border-bottom: 4px solid grey;
}

header {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(245, 244, 241, .33);
  border-radius: 0px 0px 25px 25px;
  backdrop-filter: blur(12px) saturate(100%);
}

nav img {
  margin-left: 25px;
  margin-top: 5px;
}

nav .dropdown {
  margin-right: 25px;
  margin-bottom: 5px;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(245, 244, 241, .33);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  z-index: 1;
  backdrop-filter: blur(12px) saturate(100%);
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #01eefe;
  border-radius: 25px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#myVideo1 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}


.jumbo-containter {
  display: flex;
  width: 100%;
}

.jumbotron {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-flow: row wrap;
  padding-top: 150px;
}

.jumbotron .content img {
  width: 100%;
  border-radius: 25px;
  flex-grow: 5;
}

.jumbo-container .content {
  background-color: rgba(245, 244, 241, .33);
  padding: 25px;
  border-radius: 25px;
  margin: 25px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 3;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

.main {
  padding-top: 35px;
  opacity: 0.9;
}

.case-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 2px solid red;
}

.case {
  display: flex;
  flex-flow: column wrap;
  width: 300px;
  min-height: 300px;
  justify-content: flex-end;
  border-radius: 25px;
  margin: 5px;
  border: 2px solid blueviolet;
}

#product1,
#product2,
#product3,
#product4,
#product5,
#product6 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}

#product1 {
  background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/hangar.jpg");
  flex-grow: 1;
  border: 2px solid black;
}
#product2 {
  background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/hangar.jpg");
  flex-grow: 5;
}
#product3 {
  background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/hangar.jpg");
  flex-grow: 1;
}
#product4 {
  background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/hangar.jpg");
  flex-grow: 5;
}
#product5 {
  background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/hangar.jpg");
  flex-grow: 1;
}
#product6 {
  background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/hangar.jpg");
  flex-grow: 5;
}

.case p {
  padding: 5px;
  min-width: 240px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(245, 244, 241, .33);
  border-radius: 0px 0px 25px 25px;
}

.team {
  background-color: #212328;
  padding-top: 70px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teammate {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  color: white;
  flex-basis: 280px;
}

.teammate img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myVideo2 {
  position: relative;
  z-index: -1;
}

.first-level {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact,
.copyright {
  padding-top: 20px;
}

@media (max-width: 750px) {}